:root {
  --mainColor: #fff;
  --mainColorLight: #109c87;
  --secondaryColor: #db2b39;
  --textColor: #097969;
}

.about-container,
.intro-text-container,
.about-item,
.aboutWhy-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-container {
  align-items: center;
  gap: 4rem;
  padding: 4rem 3rem;
  background-color: var(--mainColor);
  width: 100%;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  width: 100%;
}

.intro-text-container {
  align-items: flex-start;
  gap: 2rem;
}

.intro-image {
  width: 50%;
  border-radius: 4px;
}

.intro-heading {
  color: #097969;
  line-height: 2.4rem;
  font-weight: 600;
}

.intro-text,
.section-support-text {
  color: #575555;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.about-data-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.about-item {
  align-items: flex-start;
  gap: 1rem;
}

.about-item-heading,
.aboutWhy-heading {
  color: #097969;
  font-weight: 600;
}

.about-item-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.about-item-description {
  color: #575555;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4rem;
}

.bold-text {
  font-weight: bold;
}

.aboutWhy-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.aboutWhy-item {
  align-items: center;
  gap: 1rem;
}

.aboutWhy-icon {
  height: 5rem;
  width: 5rem;
}

.aboutWhy-heading {
  text-align: center;
  font-size: 0.95rem;
  font-weight: 600;
}

.item-border {
  border-bottom: 1px solid #097969;
  width: 4rem;
}

.aboutWhy-description {
  font-size: 0.8rem;
  color: #575555;
  font-weight: 500;
  line-height: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .intro-container {
    gap: 2rem;
  }

  .intro-text-container {
    gap: 1rem;
  }

  .intro-image {
    width: 50%;
    height: 30rem;
  }

  .intro-heading {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .about-container {
    padding: 2rem;
  }

  .intro-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  .intro-image {
    width: 100%;
    height: 15rem;
  }

  .intro-heading {
    text-align: center;
  }

  .intro-text {
    text-align: center;
  }
}
