.whyus-container,
.heading-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.whyus-container {
  gap: 4rem;
  padding: 3rem 2rem;
}

.heading-div {
  text-align: center;
  gap: 1rem;
  width: 70%;
}

.section-heading {
  text-align: center;
  color: #097969;
}

.supporting-text {
  text-align: center;
  color: #575555;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
}
